body {
 background-image: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}
.MainHeading{
  text-align: center;
  font-size: 70PX;
  font-weight: bolder;
  padding: 2% 2% 2% 2%;
  text-decoration: underline;
}
/* Responive design -: */
@media (max-width: 600px) {
  .MainHeading{
    font-size: 60px;
    padding: 1% 0% 0% 0%;
  }
}
#WeatherView {
  margin: 5% 5% 5% 5%;
  background-image: url("https://wallpaperaccess.com/full/2903130.jpg");
  background: rgba(248, 231, 28, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.CityText {
  margin: 70% 10% 5% 5%;
  font-weight: bolder;
  text-transform: uppercase;
}
/* Responive design -: */
@media (max-width: 600px) {
  .CityText , .WeatherText{
    text-align: center !important;
    font-size: 50px !important;
    margin: 10% 10% 5% 5% !important;
  }
}
.WeatherText {
  margin: 3% 10% 5% 5%;
  font-weight: bolder;
}
input {
  margin-right: 20%;
}
input.SearchBar {
  border: none;
  outline: none;
  outline: none;
  padding: 1% 5% 0 20%;
  border-radius: 24px;
  background: transparent;
  color: black;
  font-family: inherit;
  font-size: 105%;
  font-weight: bolder;
}
.SearchBar{
    margin: 2% 2% 2% 20px;
    text-align: center;
    text-transform: uppercase;
}
/* Responive design -: */
@media (max-width: 600px) {
  .SearchBar{
     margin: 2% 0% 2% 0;
     padding: 2% 0% 2% 0%;
  }
}
.SearchButton{
    margin: 2% 10% 2% 0%;
}
/* Responive design -: */
@media (max-width: 600px) {
  .SearchButton{
    margin: 2% 0% 2% 20%;
  }
}
.WeatherStats {
  margin: 10% 10% 10% 10%;
  border-radius: 30px;
}
.MoreDetails {
  padding: 5% 3% 3% 5%;
  opacity: 0.8;
  font-weight: bolder;
}
/* Responive design -: */
@media (max-width: 600px) {
  .MoreDetails{
    text-align: center;
  }
}
.WeatherIcon {
  margin: 3% 10% 5% 5%;
}
/* Responive design -: */
@media (max-width: 600px) {
  .WeatherIcon{
    align-items: center;
    margin: 3% 10% 5% 40% !important;
  }
}
.WeatherDetails{
    text-align: center;
    font-weight: bolder;
    padding: 5% 2% 2% 2%;
    text-decoration: underline;
}
.ConnectSection{
  text-align: center;
  padding: 1% 1% 1% 1%;
}
.FooterText{
  font-weight: bolder;
  font-size: 20px;
}
.item-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom:2%;
}
.card{
  margin-top: 40%;
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 1em;
  background: rgba(248, 231, 28, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}